* ,ul{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-color{
    background-color: #ededed;
}
.carousel-img img {
    height: 90vh;
    object-fit: fill;
}
.logo a{
    color: red;
    font-size: 36px;
    font-family: 'Lobster', cursive;
    text-decoration: none;
}
.navbar{
   display: flex;
   background: #000;
}
.navbar img{
    height: 65px;
}
.menu li{
    display: inline;
}
.menu li a{
    color: #fff;
    padding: 0 20px;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.menu li a:hover{
    color: yellowgreen;
}
.menu li .active{
    color: yellowgreen;
}
.carousel-img img{
    object-fit: cover;
}
.bg-gray {
    background: rgba(243, 245, 246, 0.998);
}
.blog-heading{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.blog-para p{
    font-family: 'Playfair Display', serif;
}
.showData {
    display: flex;
    flex-direction: column-reverse;
}

.event-details div:first-child {
    float: left;
    width: 585px;
}

.event-details h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-top: 40px;
    font-size: 36px;
    color: #0d8113;
    font-weight: 600;
}

.data{
    margin: 0 65px 0 0;
}
.data p{
    font-family: 'Playfair Display', serif;
}


.speakers h1 {
    font-size: 18px;
    font-weight: 400;
}


.speakers img{
    width: 150px;
    border-radius: 50px;
}
.form-group{
    margin: 20px 0;
}
.form-group label{
    font-size: 20px;
    font-weight: bold;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3c3c3c;
    font-family: 'Open Sans', sans-serif;
    margin: 40px 0 0px;
}

.footer h1 {
    color: #f8efef;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.blogHeader{
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: #0d8113;
    text-align: center;
}
.bg-orange{
    background-color: aliceblue
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.footer-icons i {
    margin: 0 10px;
    border: 2px solid #f8efef;
    border-radius: 50%;
    padding: 5px 5px;
    color: #f8efef;
    font-size: 18px;
}

.footer-icons p {
    color: #f8efef;
    font-size: 18px;
}
@media all and (max-width: 600px){
    .navbar, .navbar img{
        text-align: center;
    }
}